Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
*.txt
*.bak
*.bakup
*.tmp
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.swp
*.ncb
*.sdf
*.opensdf
*.suo
*.sln.docstates
*.sln.cache
*.ipch/
*/Intermediate/*
*/Saved/*
*.png
*.tga
*.bmp
*.dds
*.hdr
*.ogg
*.wav
*.mp3
*.pak
*.uasset
*.umap
*.uproject.*
*.map
*.datasmith
*.dmp
*.cpp.o
*.dll.a
*.o
*.a
*.lib
*.pyc
*.pyo
*.pyd
*.class
*.swf
*.exe
*.gz
*.tar
*.zip
*.rar
*.7z
*.jar
*.apk
*.xapk
*.keystore
*.pfx
*.cer
*.sig
*.sig.*
*.spc
*.p12
*.ppk
*.pem
*.key
*.key.*
*.crt
*.csr
*.der
*.p7b
*.p7c
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.pdf
*.zipx
*.vsix
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*
*.vcproj.filters
*.vcproj.user
*.vcproj.*